<head>
  <title>jumpS</title>
</head>

<body>
  {{#if currentUser}}
  	{{> logoutForm}}
  {{else}}

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-6">
				{{> loginForm}}
			</div>
			<div class="col-md-6 col-lg-6">
				{{> signupForm}}
			</div>
		</div>
		<div class="row">
			{{> recovery}}
		</div>
		<div class="row">
			{{> signups}}
		</div>
	</div>	
  	
  {{/if}}
</body>

<template name="logoutForm">
	<form id="logout-form">
		{{currentUser.profile.fullname}}<button class="btn btn-danger" type="submit">Log Out</button>
	</form>
</template>

<template name="loginForm">
	<form id="login-form">
		<h2>Log In</h2>

		<label for="login-username">Username</label>
		<input type="text" id="login-username" class="form-control" placeholder="Username"><br>

		<label for="login-password">Password</label>
		<input type="password" id="login-password" class="form-control" placeholder="Password"><br>

		<button class="btn btn-primary" type="submit">Log In</button>
	</form>
</template>

<template name="signupForm">
	<form id="signup-form">
		<h2>Pledge</h2>

		<label for="signup-username">Username</label>
		<input type="text" id="signup-username" class="form-control" placeholder="Username"><br>

		<label for="signup-email">Email</label>
		<input type="text" id="signup-email" class="form-control" placeholder="Email"><br>
		
		<label for="signup-password">Password</label>
		<input type="password" id="signup-password" class="form-control" placeholder="Password"><br>

		<label for="signup-name">Full Name</label>
		<input type="text" id="signup-name" class="form-control" placeholder="Full Name"><br>

		<button class="btn btn-primary" type="submit">Pledge</button>
	</form>
</template>

<template name="recovery">
	{{#if resetPassword}}
		<form action="action" id="new-password">
			<div class="row">
				<div class="col-md-4 col-lg-4">
				<h1>Password Change</h1>
					<input type="text" class="form-control" id="new-password-password">
					<input type="submit" class="form-control" value="Change Password">
				</div>
			</div>
		</form>
	{{else}}
		<form action="action" id="recovery-form">
				<div class="row">
					<div class="col-md-4 col-lg-4">
					<h1>Fogot Password</h1>
						<input type="text" class="form-control" id="recovery-email" placeholder="email">
					<input type="submit" class="form-control" value="Send Reset Instructions">
					</div>
				</div>
		</form>	
	{{/if}}
</template>

<template name="signups">
	{{#each signedup}}
		<ul>
			<li>{{profile.name}}</li>
		</ul>
	{{/each}}
</template>